@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;700;900&display=swap');

:root {
	--font: 'Raleway', sans-serif;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}

img {
	max-width: 100%;
	height: auto;
}

body, html {
	min-height: 100%;
	width: 100%;
}

/* Main Styles */

body {
	background: #b07cf7;
	font-family: var(--font);
	color: #fff;
}

.container {
	max-width: 1200px;
	min-width: 400px;
	width: 100%;	
	margin: 100px auto;	
	text-align: center;
}

.blog__head {
	max-width: 570px;
	margin: 0 auto;
	text-align: center;
}

.blog {
	font: 700 90px var(--font);
	text-align: center;
	margin-bottom: 30px;
}


.text {
	font: 300 17px var(--font);
	text-align: center;
	line-height: 25px;
	margin-bottom: 45px;
}

.posts {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}

.post {
	box-shadow: 4px 0 10px rgba(0, 0, 0, .5);
}


.post__container {
	position: relative;
	margin-right: 30px;

}


.post__body {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
}

.post__date {
	width: 65px;
	background: rgba(38, 38, 38, .5);
	border-radius: 5px;
	margin-top: 30px;
	margin-left: 30px;
	text-align: center;
	margin-bottom: 115px;
}

.date {
	font: 700 32px var(--font);
}

.month {
	font: 900 21px var(--font);
	text-transform: uppercase;
	padding-bottom: 5px;	
}

.post .post__body {
	background: linear-gradient(180deg, rgba(0,0,0,0) 20%, rgba(0,0,0,0.7) 90%);
}

.post__body__title {
	margin-left: 30px;
	font-family: var(--font);
	text-align: left;
}

.post__title {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 20px;
}

.post__time {
	font-size: 13px;
	font-weight: 400;
}

.view a {
	font: 300 20px var(--font);
	text-decoration: none;
	display: inline-block;
	background: #f72b3b;
	color: #fff;
	text-transform: uppercase;
	box-shadow: 2px 0 5px rgba(0, 0, 0, .5);
	transition: all .3s;	
}

.view-btn {
	padding: 20px 45px;
}

.view-btn:hover {
	transform: scale(1.1);
}